<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Edit Task</h1>
    </header>

    <main>
        <!-- Display error message if it exists -->
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <section id="edit-task">
            <h2>Edit Task</h2>
            <form action="/edit/{{ index }}" method="post">
                <label for="title">Title<span class="mandatory">*</span>:</label><br>
                <input type="text" id="title" name="title" value="{{ task.title }}" required><br>
                <label for="description">Description<span class="mandatory">*</span>:</label><br>
                <textarea id="description" name="description" required>{{ task.description }}</textarea><br>
                <button type="submit">Update Task</button>
            </form>
        </section>
    </main>
</body>
</html>
    